---
import type { Section } from "~/lib/types";

export interface Props {
  section?: Section;
}

const { section } = Astro.props as Props;
---
{section && (
  <p class="font-display text-sm font-medium text-sky-500">
    {section.title}
  </p>
)}
