---
import { Section } from "~/lib/types";

import Prose from '../Prose.astro'
import ArticleSection from './ArticleSection.astro'
import ArticleTitle from './ArticleTitle.astro'

export interface Props {
  section?: Section;
  title?: string;
}

const { section = new Section('xmen are cool'), title = "It's good to be the king" } = Astro.props as Props;

// {(title || section) && (
//     <header class="mb-9 space-y-1">
//       {section && (
//         <p class="font-display text-sm font-medium text-sky-500">
//           {section.title}
//         </p>
//       )}
//       {title && (
//         <h1 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white">
//           {title}
//         </h1>
//       )}
//     </header>
//   )}

---
<article>
  <header class="mb-9 space-y-1">
    {section && (<ArticleSection section={section} />)}
    {title && (<ArticleTitle title={title} />)}
  </header>
  <Prose>
    <slot />
  </Prose>
</article>
